<section class="bg-gray-50 border-b border-1 border-gray-500 pt-10">
	<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">
            Blazed Software
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">
            Software developed by Blazed Labs and the Blazed Development Group.
        </p>
		<div class="flex flex-wrap justify-center">
			<a href="/browse" class="inline-flex px-8 py-3 m-2 text-lg font-semibold rounded dark:bg-violet-400 dark:text-gray-900">
                Browse Software
            </a>
			<button class="px-8 py-3 m-2 text-lg border rounded dark:text-gray-50 dark:border-gray-700">Learn more</button>
		</div>
	</div>
</section>

<div class="pb-8">
    <div class="container m-auto px-6 md:px-12 lg:px-6">
        <div class="py-8 px-12 bg-cyan-50 rounded-2xl">
            <span class="block text-center font-medium text-cyan-700">
                Trusted by your favorite giants
            </span>
            <div class="mt-8 flex justify-center flex-wrap items-center gap-4 md:gap-6 lg:gap-8">
                <div class="flex items-center">
                    <img src="https://blazed.sirv.com/logo/Beaker-Red.png?w=150&h=122" alt="client logo" loading="lazy" width="150" height="122">
                </div>
                <div class="flex items-center">
                    <img src="https://blazed.sirv.com/logo/Beaker-Gray.png?w=150&h=122" alt="client logo" loading="lazy" width="150" height="122">
                </div>
                <div class="flex items-center">
                    <img src="https://blazed.sirv.com/logo/Beaker-DarkGray.png?w=150&h=122" alt="client logo" loading="lazy" width="150" height="122">
                </div>
                <div class="flex items-center">
                    <img src="https://blazed.sirv.com/logo/Beaker-Rainbow.png?w=150&h=122" alt="client logo" loading="lazy" width="150" height="122">
                </div>
                <div class="flex items-center">
                    <img src="https://blazed.sirv.com/logo/Beaker-Cobalt.png?w=150&h=122" alt="client logo" loading="lazy" width="150" height="122">
                </div>
                <div class="flex items-center">
                    <img src="https://blazed.sirv.com/logo/Beaker-Pink.png?w=150&h=122" alt="client logo" loading="lazy" width="150" height="122">
                </div>
            </div>
        </div>
    </div>
</div>