<section class="bg-gray-50 border-b border-1 border-gray-500 pt-10">
	<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">
            Blazed Software
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">
            Software developed by Blazed Labs and the Blazed Development Group.
        </p>
		<div class="flex flex-wrap justify-center">
			<a href="/browse" class="inline-flex px-8 py-3 m-2 text-lg font-semibold rounded dark:bg-violet-400 dark:text-gray-900">
                Browse Software
            </a>
			<button class="px-8 py-3 m-2 text-lg border rounded dark:text-gray-50 dark:border-gray-700">Learn more</button>
		</div>
	</div>
</section>
