<article class="pt-5 lg:max-w-4xl relative mx-auto px-8">
    <ng-container *ngFor="let software of software$ | async">
        <div class="rounded-xl bg-white p-6 ring ring-indigo-50 sm:p-8 my-5">
            <div class="flex items-start">
              <div
                class="hidden sm:grid sm:h-20 sm:w-20 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:border-indigo-500"
                aria-hidden="true"
              >
                <div class="flex items-center gap-1">
                  <span class="h-8 w-0.5 rounded-full bg-indigo-500"></span>
                  <span class="h-6 w-0.5 rounded-full bg-indigo-500"></span>
                  <span class="h-4 w-0.5 rounded-full bg-indigo-500"></span>
                  <span class="h-6 w-0.5 rounded-full bg-indigo-500"></span>
                  <span class="h-8 w-0.5 rounded-full bg-indigo-500"></span>
                </div>
              </div>
          
              <div class="sm:ml-8">
          
                <h3 class="mt-4 text-lg font-medium sm:text-xl">
                  <a href="/view?id={{ software.slug }}" class="hover:underline"> 
                    {{ software.name }}  
                  </a>
                </h3>
          
                <p class="mt-1 text-sm text-gray-700">
                  {{ software.description }}
                </p>
          
                <div class="mt-4 sm:flex sm:items-center sm:gap-2">
                  <p class="mt-2 text-xs font-medium text-gray-500 sm:mt-0">
                    More Links: <a href="{{ software.docs }}" class="underline hover:text-gray-700">Docs</a>,
                    <a href="{{ software.repo }}" class="underline hover:text-gray-700">Repo</a> and
                    <a href="{{ software.website }}" class="underline hover:text-gray-700">Website</a>
                  </p>
                </div>
              </div>
            </div>
        </div>
    </ng-container>
</article>